<h1>Bienvenido !</h1>
    <p>
        Elegir la forma que desea calcular area y perimetro
    </p>
    <figure>
        <img src="cuadrado.jpg" alt="Trulli" style="width:100%">
        <figcaption>Fig.1 - Trulli, Puglia, Italy.</figcaption>
      </figure>

      <figure>
        <img src="circulo.jpg" alt="Trulli" style="width:100%">
        <figcaption>Fig.1 - Trulli, Puglia, Italy.</figcaption>
      </figure>

      <figure>
        <img src="triangulo.jpg" alt="Trulli" style="width:100%">
        <figcaption>Fig.1 - Trulli, Puglia, Italy.</figcaption>
      </figure>

      <figure>
        <img src="rectangulo.jpg" alt="Trulli" style="width:100%">
        <figcaption>Fig.1 - Trulli, Puglia, Italy.</figcaption>
      </figure>

    <input
    value = {{figura}}
    >


